{% extends 'todolistapp/base.html' %}
{% block content %}
{# form :the action attribute indicates the file to process this form #}
    <form action="{% url 'add_task' %}" method="post">
    {% csrf_token %}
        <input type="text" name="task" placeholder="New Task">
        <button type="submit">Add Task</button>
    </form>
{# create the list #}
<h4>My tasks</h4>
<ul>
        {% for task in tasks %}
        <li>
        {{ task.task }} - completed {{ task.done }}
        </li>
            {# show this on no task #}
         {% empty %}
            <li>NO TASKS AVAILABLE</li>
        {% endfor %}
</ul>
{% endblock %}
